{% extends 'blog/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div>Хотите удалить пост: {{ object.title }}?</div>
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                        <a class="p-2 btn btn-warning" href="{% url 'blog:post_list' %}">Отменить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}