{% extends 'catalog/base.html' %}

{% block content %}
    {% for object in object_list %}
          <div class="col-3">
              <div class="card mb-4 box-shadow">
                  <div class="card-header">
                      <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>
                  </div>
                  <div class="card-body">
                      <h1 class="card-title pricing-card-title">{{ object.price|title }}</h1>
                      <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                          {{ object.description | truncatechars:100 }}
                      </ul>
                          <nav>
                              <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:spec_category_list' object.pk %}">Посмотреть</a>
                          </nav>
                  </div>
              </div>
          </div>
    {% endfor %}
{% endblock %}